body {
  background-color: lightgreen;
  text-align: center;
}

.flashy{
  color:red;
  font-style: italic;
}

.best{
  color: gold;
  border-style: ridge;
  border-width: medium;
  background-color: darkgreen;
}
